<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">

    <servlet>
        <servlet-name>BankServlet</servlet-name>
        <servlet-class>controller.BankServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BankServlet</servlet-name>
        <url-pattern>/BankServlet/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>BankServlet</welcome-file>
    </welcome-file-list>
</web-app>
